<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}} resistance.cf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/stellarnav.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/adminStyle.css">
    <link href="/images/favicon.ico" rel="icon">
</head>