<aside id="modal1" class="modal" aria-hidden="true" role="dialog" aria-modal="false" style="display: none;">
    <div class="modal-wrapper bloc js-modal-stop">
        <form id="login-form">
            <p>Entrez votre mot de passe</p>
            <p><input type="password" name="pass" id="pass" /></p>
            <p><input type="submit" value="Envoyer" /><button class="js-modal-close">Annuler</button></p>
        </form>
    </div>
</aside>