<nav class="stellarnav">
    <ul>
        <li><a href="/">Retour site</a></li>
        <li><a class="dropdown"href="">Membres</a>
            <ul>
                <li><a href="/members/displayList">Liste des membres</a></li>
                <li><a href="/members/banList">Liste des bannis</a></li>

            </ul>
        </li>
        {{#if admin}}
        <li><a href="/editos/list">annonce d'accueil</a></li>
        <li><a href="/medias/list">gérer les medias</a></li>
        {{/if}}

        <li><a href="/mp/list/{{user}}" {{#if newMp}}style="color: red;">Nouveau message !{{else}}>Ma
                messagerie{{/if}}</a></li>
        <li id="deco"><a id="linkDeco" href="/users/logout">Déconnexion ({{uName}})</a></li>
        <li>
            <form class="searchForm">
                <input class="searchBar" type="text" name="search" id="search" placeholder=" ">
            </form>
        </li>
    </ul>
</nav>