<nav class="stellarnav">
    <ul>
        <li class="mega" data-columns="5"><a href="">Liens</a>
            <ul>
                <li><a href="https://la-bas.org" target="_blank">Là-bas si j'y suis</a></li>
                <li><a href="https://thinkerview.com/" target="_blank">Thinkerview</a></li>
                <li><a href="https://www.lemediatv.fr/" target="_blank">Le Media.tv</a></li>
                <li><a href="https://lvsl.fr/" target="_blank">Le vent se lève</a></li>
                <li><a href="https://mrmondialisation.org/" target="_blank">Mr Mondialisation</a></li>
                <li><a href="https://www.acrimed.org/" target="_blank">Acrimed</a></li>
                <li><a href="https://www.bastamag.net/" target="_blank">Basta !</a></li>
                <li><a href="http://lundi.am/" target="_blank">Lundi matin</a></li>
                <li><a href="https://planetes360.fr/" target="_blank">Planètes 360</a></li>
            </ul>
        </li>

        <li><a href="/">Accueil</a></li>
        <li><a href="/articles/display">Articles</a></li>
        <li><a href="/galleryDisplay">Medias</a></li>
        {{#if user}}
        <li><a href="/userProfile/{{user.id}}">Mon profil</a></li>
            {{#if admin }}
                <li id="adminMenu" class="dropdown"><a href="">Administrer</a>
                    <ul>
                        <li><a href="/medias/add">Ajouter un media</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </li>
            {{/if}}
        <li id="deco"><a id="linkDeco" href="/users/logout">Déconnexion</a></li>
        {{else}}
        <li id="connect"><a id="linkReg" class="js-modal" href="#modal2">Inscription</a></li>
        <li id="connect"><a id="linkCo" class="js-modal" href="#modal1">Connexion</a></li>
        {{/if}}
    </ul>
</nav>