<nav class="stellarnav">
    <ul>
        <li class="mega" data-columns="5"><a href="">Médias</a>
            <ul>
                <li><a href="https://la-bas.org">Là-bas si j'y suis</a></li>
                <li><a href="https://thinkerview.com/">Thinkerview</a></li>
                <li><a href="https://www.lemediatv.fr/">Le Media.tv</a></li>
                <li><a href="https://lvsl.fr/">Le vent se lève</a></li>
                <li><a href="https://mrmondialisation.org/">Mr Mondialisation</a></li>
                <li><a href="https://www.acrimed.org/">Acrimed</a></li>
                <li><a href="https://www.bastamag.net/">Basta !</a></li>
                <li><a href="http://lundi.am/">Lundi matin</a></li>
                <li><a href="https://planetes360.fr/">Planètes 360</a></li>
            </ul>
        </li>

        <li><a href="/">Accueil</a></li>
        <li><a href="view/frontend_view/articles.html">Articles</a></li>
        <li><a href="/galleryDisplay">Galerie</a></li>
        {{#if user}}
        <li id="deco"><a id="linkDeco" href="/users/logout">Déconnexion</a></li>
        {{else}}
        <li id="connect"><a id="linkReg" class="js-modal" href="#modal2">Inscription</a></li>
        <li id="connect"><a id="linkCo" class="js-modal" href="#modal1">Connexion</a></li>
        {{/if}}
        {{# if admin }}
            <li id="adminMenu" class="dropdown"><a href="">Administrer</a>
                <ul>
                    <li><a href="/medias/add">Ajouter un media</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </li>
        {{/if}}
    </ul>
</nav>