<header>
    <h1>Panneau d'administration</h1>
</header>

<section class="galCont">
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
    <article class="bloc article">
        <h2>module</h2>
        <p>bla bla</p>
        <a href="" class="button">Entrer</a>
    </article>
</section>