
    <header>
        <h1>La Démocratie En Marche !</h1>
    </header>
    <section class="prez">
        <h2>(Rien n'arrête une idée dont le temps est venu)</h2>
        <div class="bloc">
            <h3>Site dédié au partage et à l'échange autour des informations provenant de médias libres et indépendants.</h3>
            <p>En France, <a href="/mediaOwnerMap">10 milliardaires contrôlent notre
                    information</a>. Impossible de passer une journée sans lire, entendre ou regarder un de leur
                porte-voix.</p>
            <p>L’exposition de la vérité est affaire complexe, et la capacité à dire et se saisir du réel ne cesse de se
                dégrader.</p>
            <p>Nous nous proposons de centraliser ici les nombreux médias indépendants qui fleurissent sur le net et les
                réseaux sociaux.<br />
                Nous ne recherchons pas ici à être exhaustifs, et nous omettrons volontairement les sites les plus
                ambigüs de par leur proximité avec des mouvances plus ou moins partiellement contestables, ceci afin de
                renforcer la crédibilité du partage de l'information.</p>
        </div>
        <p><a class="button" href="/articles/display">Entrer</a></p>
    </section>

    