<body>
    <header>
        <h1>Galerie</h1>
    </header>
    <aside id="modal2" class="modal" aria-hidden="true" role="dialog" aria-modal="false" style="display: none;">
        <div class="modal-wrapper2 bloc js-modal-stop">
            <form id="add-article-form">
                <h3>Ajouter un article</h3>
                <p>Titre de l'article</p>
                <p><input type="text" name="title" id="title" /></p>
                <p>Contenu de l'article</p>
                <p><textarea cols="100" rows="10"></textarea></p>
                <p><input type="submit" value="Envoyer" /><button class="js-modal-close">Annuler</button></p>
            </form>
        </div>
    </aside>
    <section class="galCont">
        <article class="laBas bloc">
            <a href="https://la-bas.org">
                <figure>
                    <figcaption>Là-bas si j'y suis</figcaption>
                    <img src="images/logos/logo_la_bas.png" alt="img là bas" />
                </figure>
            </a>
            <p>« LÀ-BAS SI J’Y SUIS », créée et animée par Daniel Mermet, est une des plus grandes émissions de
                l’histoire de la radio. Magazine de grand reportage radiophonique né en 1989 lors de la chute du mur de
                Berlin, diffusée quotidiennement sur France Inter jusqu’en 2014, récompensée par de nombreux prix,
                rencontrant un grand succès populaire, l’émission se développe aujourd’hui avec succès sur le net, en
                radio toujours mais aussi en vidéo, en images et en textes.</p>
            <p>Sans publicité, sans subvention, le site est exclusivement financé par les abonnements (5 euros mensuel).
                Pour son premier anniversaire, le 21 janvier 2016, le site comptait 25 000 abonnés, 30 000 visites
                quotidiennes en moyenne, un million chaque mois. Depuis plus de 25 ans et toujours « plus près des
                jetables que des notables », Là-bas affirme son attachement à la tradition d’un journalisme de
                contre-pouvoir, sous une forme à la fois populaire, rigoureuse et engagée.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/LaBasSiJySuis/"><img
                            src="images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LabasOfficiel"><img src="images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="tView bloc">
            <a href="https://thinkerview.com/">
                <figure>
                    <figcaption>Thinkerview</figcaption>
                    <img src="../../ressources/images/logos/thinkerview.jpg" alt="img Thinkerview" />
                </figure>
            </a>
            <p>ThinkerView est un laboratoire d'idées français indépendant lancé en janvier 2013, proche du milieu du
                hacking. Il diffuse des entrevues sans montage, avec des personnalités d'horizons différents,
                principalement grâce à sa chaîne YouTube suivie par plus de 280 000 abonnés. Ses domaines d'études les
                plus récurrents sont la géopolitique, la finance, le terrorisme, les médias, internet, l'environnement
                et la société.</p>
            <h4>Thinkerview a pour objectifs</h4>
            <ul>
                <li>Mettre à l’épreuve les idées/discours en décelant leurs failles, leurs limites.</li>
                <li>Écouter les points de vue peu médiatisés afin d’élargir nos prismes de lecture.</li>
                <li>Appréhender toute la complexité des enjeux actuels et futurs de notre monde.</li>
            </ul>
            <div class="social">
                <p><a href="https://www.facebook.com/LaBasSiJySuis/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LabasOfficiel"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="leMedia bloc">
            <a href="https://www.lemediatv.fr/">
                <figure>
                    <figcaption>Le Media TV</figcaption>
                    <img src="../../ressources/images/logos/le_media_tv.png" alt="img là bas" />
                </figure>
            </a>
            <p>Le Média est un site d'actualité français gratuit. Lancé le 15 janvier 2018 et fondé par Sophia Chikirou,
                Henri Poulain et Gérard Miller, il proposa notamment un journal télévisé du lundi au vendredi.</p>
            <p>Média revendique dans sa charte son « pluralisme » et son indépendance vis-à-vis des « puissances
                industrielles et financières ». Mais de nombreux médias soulèvent la question de l'indépendance
                éditoriale du Média vis-à-vis du parti politique La France insoumise, soulignant notamment que les
                fondateurs du Média ont soutenu ou participé à la campagne de Jean-Luc Mélenchon lors de l'élection
                présidentielle de 2017, et affirmant qu'il existe une proximité idéologique entre Le Média et les
                Insoumis. D'après Sophia Chikirou, ex-directrice du Média, l'indépendance éditoriale est totale.
                Cependant, Le Point a publié un SMS de Sophia Chikirou qui indique que Jean-Luc Mélenchon a relu, avant
                sa publication, le manifeste diffusé par Le Média en septembre 2017. Et des membres de l'équipe
                logistique du Média font partie de La France insoumise. Toutefois, selon Marianne, il n'existe aucun
                lien connu entre les journalistes du Média et La France insoumise.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/LeMediaOfficiel/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LeMediaTV"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="lvsl bloc">
            <a href="https://lvsl.fr/">
                <figure>
                    <figcaption>Le vent se lève</figcaption>
                    <img src="../../ressources/images/logos/lvsl.png" alt="img là bas" />
                </figure>
            </a>
            <p>Le Vent Se Lève part d’un constat : celui d’une défaite historique des forces de progrès. Ce projet
                s’annonce donc comme une entreprise de reconquête.</p>
            <p>Aujourd’hui, environ soixante bénévoles contribuent au site financé par eux-mêmes. Certains sont – ou ont
                été – militants au PCF,
                au PG ou encore mélenchonistes, d’autres n’ont jamais été encartés.</p>
            <p>Affirmant ne soutenir aucun parti, ils entendent en revanche exposer “une certaine vision de la gauche” –
                même si, comme l’explique Lenny, rédac chef de la rubrique économie, “on n’est certes pas la gauche de
                Manuel Valls, mais on n’aurait aucun problème à l’interviewer : on ne veut pas rester dans l’entre-soi”.
            </p>
            <div class="social">
                <p><a href="https://www.facebook.com/LaBasSiJySuis/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/LabasOfficiel"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="mrMond bloc">
            <a href="https://mrmondialisation.org/">
                <figure>
                    <figcaption>Mr Mondialisation</figcaption>
                    <img src="../../ressources/images/logos/mr_mondialisation.png" alt="img là bas" />
                </figure>
            </a>
            <p>Mr Mondialisation est un think tank informel et citoyen francophone à visée internationale symbolisé par
                un personnage anonyme portant un masque vénitien.</p>
            <p>Son objectif : alimenter le débat libre dans la sphère publique autour des grands sujets mondiaux et
                locaux de notre temps et faire bouger les lignes pour construire ensemble un avenir serein.</p>
            <p>Depuis septembre 2018, Mr Mondialisation accompagne la réalisation du <a
                    href="https://www.facebook.com/lejterre/">JTerre</a>, une émission web lancée par François Legrand
                et Félicien Bogaerts et à laquelle une dizaine de youtubeurs sont associés. L'ambition est « de donner
                naissance au premier journal du web dédié à l'actualité environnementale ».</p>
            <p>Après avoir reposé sur le travail bénévole de son fondateur et de ses membres actifs pendant plusieurs
                années, Mr Mondialisation dépend désormais du financement participatif de sa communauté pour couvrir ses
                frais de fonctionnement et se développer. Actuellement, ces revenus permettent de subvenir aux
                différents coûts matériels ainsi qu'à financer un mi-temps.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/M.Mondialisation"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/mondi_alisation"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="acrimed bloc">
            <a href="https://www.acrimed.org/">
                <figure>
                    <figcaption>Acrimed</figcaption>
                    <img src="../../ressources/images/logos/acrimed.png" alt="img là bas" />
                </figure>
            </a>
            <p>Acrimed (acronyme d'« Action critique Médias ») est une association française loi de 1901, de critique
                des médias. Cet observatoire des médias a été créé en 1996 à l'initiative d'Henri Maler et de quelques
                autres (dont Patrick Champagne, sociologue proche de Pierre Bourdieu), dans la foulée du mouvement
                social de novembre et décembre 1995, en réponse à la façon dont les grands médias auraient pris parti
                contre ce mouvement et neutralisé l'expression de ses acteurs. </p>
            <p>Acrimed se donne pour but : « d’intervenir publiquement, par tous les moyens à sa disposition, pour
                mettre en question la marchandisation de l’information, de la culture et du divertissement, ainsi que
                les dérives du journalisme quand il est assujetti aux pouvoirs politiques et financiers et quand il
                véhicule le prêt-à-penser de la société de marchés. »</p>
            <p>Acrimed revendique sa proximité avec une « gauche de gauche » dont les contours sont volontairement
                laissés vagues : « Notre critique est politique d’abord et principalement parce qu’elle entend faire de
                la question des médias et des journalismes une question politique – la principale (sinon la
                seule)question politique qui nous occupe et fait l’objet de prises de position publiques. Elle est
                politique parce qu’elle attribue les dépendances des journalistes, les mutilations du pluralisme et les
                ravages de la mal-information à des faits de domination économique, sociale et politique, communément et
                génériquement contestés par la gauche quand elle est de gauche : une "gauche de gauche" dont il ne nous
                appartient pas de donner une définition partisane. » </p>
            <div class="social">
                <p><a href="https://www.facebook.com/Acrimed-Action-Critique-M%C3%A9dias-94089796249/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/acrimed_info"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="basta bloc">
            <a href="https://www.bastamag.net/">
                <figure>
                    <figcaption>Basta !</figcaption>
                    <img src="../../ressources/images/logos/basta.png" alt="img basta" />
                </figure>
            </a>
            <p>Basta ! est un média indépendant lancé en 2008. Pure player traitant de l’actualité économique, sociale
                et environnementale, il est reconnu comme « service de presse en ligne d’information politique et
                générale ».</p>
            <p>Il publie chaque semaine des enquêtes, reportages, grands entretiens, tribunes, vidéos. Une partie des
                articles et photos publiés sur le site sont sous licence Creative Commons.</p>
            <p>Il est animé par une équipe de sept journalistes permanents. La coordination est assurée par Ivan du Roy
                et Agnès Rousseaux. Il compte en 2018 neuf salariés.</p>
            <p>Basta ! cherche à développer un modèle économique original dans le secteur de la presse en ligne, sans
                publicité et sans abonnement, proposant ainsi « une information à prix libre ». Il est financé en partie
                grâce aux dons de ses lecteurs, permettant de garantir l’accès libre à tous ses articles, pour qu’ils
                puissent être lus et partagés par le plus grand nombre.</p>
            <p>Basta ! est membre du Syndicat de la presse indépendante d'information en ligne (Spiil) qui regroupe plus
                de 150 éditeurs de presse indépendants.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/journalbasta/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/bastamag"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="politis bloc">
            <a href="https://www.politis.fr/">
                <figure>
                    <figcaption>Politis</figcaption>
                    <img src="../../ressources/images/logos/politis.png" alt="img là bas" />
                </figure>
            </a>
            <p>Politis est un hebdomadaire français d'actualités fondé en 1988 par Bernard Langlois et d'autres
                journalistes parmi lesquels Jean-Paul Besset, Michel
                Naudy, Rémy Galland. Ce journal traite de l'actualité politique et sociale et se réclame de la gauche
                antilibérale et écologiste. Ce journal est membre fondateur de l'association Attac-France. Par ailleurs,
                Politis se dit attaché à la « défense des services publics et des biens communs de la société » et
                refuse le « marché omnipotent où tout s'achète et tout se vend » ainsi que l'idéologie du choc des
                civilisations.</p>
            <p>Politis, Le Citoyen est né d'un appel public à l'épargne portant sur 6 millions de francs à souscrire par
                actions nominatives de 500 francs. Les premières difficultés du journal sont dues à sa
                sous-capitalisation. Dès 1988, c'est la générosité de Pierre Bergé qui lui permet de continuer
                d'exister. </p>
            <p>Le 8 août 2006, le journal a été placé en redressement judiciaire. L'association « Pour Politis » s'est
                créée afin de sauver le journal. L'association compte 1 500 lecteurs adhérents. Elle a permis de
                recueillir 941 000 € auprès de lecteurs et ainsi de sauver le journal. Le tribunal de commerce de Paris
                a jugé le 15 novembre 2006 que le plan de reprise déposé par le personnel de l'hebdomadaire était
                viable. </p>
            <p>Le journal est désormais édité par la SAS Politis, une société par actions simplifiée au capital de 375
                238 euros en février 2019. Parmi ses actionnaires, on retrouve l'association « Pour Politis » (65 % du
                capital).</p>
            <div class="social">
                <p><a href="https://www.facebook.com/Politisfr-217973083988/"><img
                            src="../../ressources/images/logos/facebook.png" alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/Politis_fr"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="lundi bloc">
            <a href="https://lundi.am/">
                <figure>
                    <figcaption>Lundi matin</figcaption>
                    <img src="../../ressources/images/logos/lundimatin.jpg" alt="img lundi matin" />
                </figure>
            </a>
            <p>Lundi matin est une revue politique de gauche radicale et libertaire qui paraît tous les lundis sur
                internet depuis 2014 et en version papier plus ponctuellement depuis 2018.</p>
            <p>La revue est lancée en novembre 2014 et gagne en popularité à partir de 2016 en marge des grèves et
                manifestations contre la Loi travail. D'après son équipe, en 2016 le site comptabilise environ 500 000
                visites par mois. Politiquement, Lundi matin est proche de la gauche radicale et notamment du Comité
                invisible.</p>
            <p>En mai 2018, le site met en ligne une vidéo en affirmant qu'elle est réalisée par Jean-Luc Godard, mais
                il s'agissait en réalité d'un faux. </p>
            <p>Après un temps d'observation prudente, le site apporte son soutien au mouvement des Gilets jaunes et aux
                revendications demandant la destitution du président de la République.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/lundimat1"><img src="../../ressources/images/logos/facebook.png"
                            alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/lundimat1"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="tvl bloc">
            <a href="https://www.tvlibertes.com/">
                <figure>
                    <figcaption>Tv Libertés</figcaption>
                    <img src="../../ressources/images/logos/tvl.png" alt="img tvlibertes" />
                </figure>
            </a>
            <p>La web-télé TV Libertés fait suite au projet « Notre antenne » (NA-TV), initié par Gilles Arnaud,
                directeur de l'Agence2presse et de ProRussia27 (qui l'a « rapidement quitté »)28, et Philippe Milliau,
                alors dirigeant du Bloc identitaire (celui-ci étant assisté par un certain « Yann Pinault »), le 22
                septembre 2012.</p>
            <p>Le projet est présenté par Milliau lors de la Journée de la réinformation organisée par Polémia. Il
                change d'orientation après qu'Yvan Blot et Jean-Yves Le Gallou poussent Milliau à renoncer à tout
                financement russe. Se voulant le reflet télévisuel de Radio Courtoisie avec une ligne éditoriale
                identitaire, TV Libertés est officiellement lancée le 30 janvier 2014. L'ancien militant négationniste
                Tristan Mordrelle, fils d'Olier Mordrel, est chargé de lever des fonds pour la chaîne.</p>
            <p>En juin 2018, le compte YouTube de la chaîne est fermé pour « atteinte aux droits d'auteur ». Plusieurs
                cadres du Rassemblement national (dont Marine Le Pen) s'émeuvent de la mesure, de même que Nicolas
                Dupont-Aignan, Thierry Mariani ou Jean-Frédéric Poisson, qui y voient une « censure » ou ses « prémices
                » ainsi qu'un « recul des libertés ».</p>
            <div class="social">
                <p><a href="https://www.facebook.com/tvlibertes/"><img src="../../ressources/images/logos/facebook.png"
                            alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/tvlofficiel"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="egRec bloc">
            <a href="https://www.egaliteetreconciliation.fr/">
                <figure>
                    <figcaption>Égalité et réconciliation</figcaption>
                    <img src="../../ressources/images/logos/e&r.png" alt="img là bas" />
                </figure>
            </a>
            <p>Égalité et Réconciliation (abrégé E&R) est une association politique fondée en juin 2007 par Alain Soral,
                ainsi que par Jildaz Mahé O'Chinal et Philippe Péninque, deux anciens responsables de l'organisation
                d'extrême droite Groupe union défense (GUD).</p>
            <p>D'abord très proche du Front national (FN), elle prend ses distances avec celui-ci.</p>
            <p>Égalité et Réconciliation appelle à dépasser les clivages sur plusieurs plans — partisans, ethniques,
                religieux et sociaux — pour mieux lutter contre le mondialisme, le sionisme ou l'« Empire », selon le
                titre de l'essai publié par Alain Soral en 2011 Comprendre l'Empire, dont les fondements idéologiques
                sont largement repris par les membres d’Égalité et Réconciliation. Alain Soral justifie cette «
                réconciliation » par la nécessité d'éviter une guerre civile qui serait désirée par l'oligarchie
                bancaire — réduite à une « coalition vétéro-testamentaire », autrement dit les Juifs et les protestants
                — pour mieux préserver l'exploitation sociale dont elle jouit.</p>
            <div class="social">
                <p><a href="https://vk.com/public158874883"><img src="../../ressources/images/logos/facebook.png"
                            alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/EetR_National"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
        <article class="planete bloc">
            <a href="https://planetes360.fr/">
                <figure>
                    <figcaption>Planètes 360</figcaption>
                    <img src="../../ressources/images/logos/planete.png" alt="img planètes 360" />
                </figure>
            </a>
            <p>Planetes360 a pour objectif de rassembler les médias alternatifs et l’ensemble des citoyens sur une seule
                plate-forme ! Planetes360 vous propose un espace multimédia riche de nombreux documentaires, de
                reportages, d’émissions, de débats … Planetes360, c’est aussi une communauté qui commente, échange et
                partage des opinions variées. Oui, Planetes360, c’est bien plus que de l’information.</p>
            <p>Le site a été fondé en 2012 par un certain Mickael.</p>
            <p>News360x est une petite association de bénévoles qui consacre son temps libre à partager des informations
                alternatives. L’objectif est de partager les articles qui ne disposent à nos yeux que de trop peu de
                visibilité ou qui offrent un point de vue original sur l’actualité.</p>
            <div class="social">
                <p><a href="https://www.facebook.com/Planetes360/"><img src="../../ressources/images/logos/facebook.png"
                            alt="logo facebook" /></a></p>
                <p><a href="https://twitter.com/Planetes360"><img src="../../ressources/images/logos/twitter.png"
                            alt="logo twitter" /></a></p>
            </div>
        </article>
    </section>
</body>