<section class="formContainer bloc">
    <form action="/comment/update/{{comment._id}}" method="POST" enctype="multipart/form-data">
        <p>
            <label for="content">Contenu :</label>
            <textarea class="textarea" name="content">{{{comment.content}}}</textarea>
            <script>
                CKEDITOR.replace(
                    ('content'));
                CKEDITOR.config.entities = false;
                CKEDITOR.config.entities_latin = false;
            </script>
        </p>
        <p>
            <input class="button" type="submit" value="Envoyer" />
            <a href="/">Annuler</a>
        </p>
    </form>
</section>