<section class="formContainer bloc">
    <form action="/users/password/update/{{usr._id}}" method="POST" enctype="multipart/form-data">

        <p>
            <label for="pass">Veuillez entrer votre nouveau mot de passe :</label><br />
            <input type="password" id="pass" name="pass" required>
        </p>
        <p>
            <label for="pass2">Veuillez confirmar votre nouveau mot de passe :</label><br />
            <input type="password" id="pass2" name="pass2" required>
        </p>
        <p>
            <input class="button" type="submit" value="Envoyer" />
            <a href="/">Annuler</a>
        </p>
    </form>
</section>